html, body{
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

#globalContainer{
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
}

#left{
	display: flex;
	order: 1;
	flex-grow: 1;
	flex-basis: 50%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	text-align: center;
}

#leftContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#menu{
	background-color: #384560;
	width: 100%;
	height: 50px;
	padding:0px;
	margin:0px;
	line-height: 30px;
}

#menu ul{
	list-style-type: none;
	margin:0;
	padding:0;
	line-height: 30px;
}

#menu li{
	float:left;
	background-color:rgba(255, 255, 255, 0.5);
	padding:5px;
	padding-right: 10px;
	padding-left: 10px;
	margin:5px;
	line-height: 30px;
}

#menu li:hover{
	background-color:rgba(255, 255, 255, 0.9);
}

#menu img{
	height: 30px;
	margin:0;
	padding:0;
}

.menuImage{
	background-color: transparent !important;
}

.menuImage:hover{
	background-color: transparent !important;
}

.github{
	background-color: transparent !important;
	color: white !important;
}

.github:hover{
	background-color: transparent !important;
}

#up{
	padding: 0px;
	margin: 0;
	width: 100%;
}

.slidesImages{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slidesImages img{
	padding: 20px;
	margin: 0;
}

.x3dcontainer{
	margin-left: auto;
	margin-right: auto;
}

.x3d{
	border: none;
	margin: 0;
}

.slidesImages p{
	color: #384560;
	font-size: 1.5em;
}

.slidesImages .title{
	font-size: 1.5em;
	padding: 1px;
	margin: 1px;
}

.slidesImages .description{
	font-size: 1em;
	padding: 1px;
	margin: 1px;
}

.slidesImages .author{
	font-size: .75em;
}

#down{
	padding: 50px;
}

.slidesDot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slidesDot:focus{
	outline: 0;
}

.slidesDot::-moz-focus-inner{
	border: 0;
}

.active {
	background-color: #717171;
}

#slidesPlayPause{
	display:inline-block;
	height:15px;
	width:15px;
	margin:0px 2px;
	border:none;
	border-radius:50%;
	background-color:white;
	background-image:url("../img/icons/pause.png");
	background-position:center;
	opacity:0.5;
}

#slidesPlayPause:focus{
	outline:0;
}

#slidesPlayPause::-moz-focus-inner{
	border:0;
}

#right{
	background-color:#384560;
	order:2;
	flex-grow:1;
	flew-basis:auto;
	min-width:350px;
	max-width:600px;
	margin:0;
	padding:0;
	overflow:auto;
}

#right h1{
	color:white;
	padding:10px;
	margin:0;
	font-size:3em;
	text-align:center;
}

#right h2{
	color:white;
	padding:20px;
	margin:0;
	font-size:1.7em;
}

#right p{
	color:white;
	padding-right:20px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:1.2em;
	text-align:justify;
}

#right a{
	color:white;
}

#github{
	display:flex;
	align-items:center;
	padding-right:20px;
	padding-left:20px;
	justify-content:center;
}

#compatibility{
	display:flex;
	padding-right:20px;
	padding-left:20px;
	align-items:center;
	justify-content:center;
}

#compatibility img{
	width:20px;
	padding:5px;
}

#cite{
	padding:20px;
	text-align:right;
}

#cite img{
	width:18px;
	padding:3px;
}

#cite img:hover{
	width:24px;
	padding:0px;
}

#cite p{
	padding:5px;
	font-size:1em;
}

#cite code{
	color:white;
	padding:5px;
}

#citetext{
	display:none;
	padding:20px;
	text-align:left;
}

#citeSelector{
}

#citeSelector ul{
	list-style-type: none;
}

#citeSelector li{
	float:left;
	background-color:rgba(255, 255, 255, 0.5);
	padding:10px;
	margin:5px;
}

#citeSelector li:hover{
	background-color:rgba(255, 255, 255, 0.9);
}

#citeAPA{
	float: left;
	display: none;
	margin:10px;
}

#citeISO690{
	float: left;
	display: none;
	margin:10px;
}

#citeMLA{
	float: left;
	display: none;
	margin:10px;
}

#citeBibTeX{
	float: left;
	display: none;
	margin:10px;
}

.spanTab{
	margin-left:20px;
}

@media (max-width:700px) {
	#globalContainer{
		flex-direction:column;
		width:100%;
		height:200%;
	}

	#left{
		order:2;
		width:100%;
		height:50%;
		max-width:700px;
	}

	#right{
		order:1;
		width:100%;
		height:50%;
		max-width:700px;
	}
}
