<div id="banner">
	<a href="{{ site.url }}{{ site.baseurl }}/ffdays.html">
		<img src="{{ site.url }}{{ site.baseurl }}/img/FreeFEM_days_16th_edition_white.svg" alt="FreeFEM days" id="ffdaysImg" />
	</a>
	<span style="color: white; padding: 5px;">
		FreeFEM days 12 & 13 december 2024 
	</span>
	<button class="banner-btn" onclick="closeBanner(this.parentNode)"><img alt="close button" src="{{ site.url }}{{ site.baseurl }}/img/cross.svg" id="bannerCross" /></button>
</div>
<script async src="{{ site.url }}{{ site.baseurl }}/js/closeBanner.js"></script>