<script type="application/ld+json">
[
  {
	"@context": "https://schema.org",
	"@type": "Organization",
	"name": "FreeFEM",
	"url": "http://www.freefem.org",
	"logo": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png"
  },
  {
	"@context": "http://schema.org",
	"@type": "Event",
	"name": "Conference 1",
	"description": "FreeFEM conference 1",
	"image": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png",
	"startDate": "2019-03-13T17:30",
	"endDate": "2019-03-13T18:30",
	"performer": {
	  "@type": "Person",
	  "name": "Frédéric Hecht"
	},
	"location": {
	  "@type": "Place",
	  "name": "Sorbonne University",
	  "address": {
		"@type": "PostalAddress",
		"streetAddress": "",
		"addressLocality": "Paris",
		"postalCode": "",
		"addressCountry": "FR"
	  }
	}
  },
  {
	"@context": "http://schema.org",
	"@type": "Event",
	"name": "Conference 2",
	"description": "FreeFEM conference 2",
	"image": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png",
	"startDate": "2019-03-13T17:30",
	"endDate": "2019-03-13T18:30",
	"performer": {
	  "@type": "Person",
	  "name": "Frédéric Hecht"
	},
	"location": {
	  "@type": "Place",
	  "name": "Sorbonne University",
	  "address": {
		"@type": "PostalAddress",
		"streetAddress": "",
		"addressLocality": "Paris",
		"postalCode": "",
		"addressCountry": "FR"
	  }
	}
  },
  {
	"@context": "http://schema.org",
	"@type": "Event",
	"name": "Conference 3",
	"description": "FreeFEM conference 3",
	"image": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png",
	"startDate": "2019-03-13T17:30",
	"endDate": "2019-03-13T18:30",
	"performer": {
	  "@type": "Person",
	  "name": "Frédéric Hecht"
	},
	"location": {
	  "@type": "Place",
	  "name": "Sorbonne University",
	  "address": {
		"@type": "PostalAddress",
		"streetAddress": "",
		"addressLocality": "Paris",
		"postalCode": "",
		"addressCountry": "FR"
	  }
	}
  }
]
</script>
