<script type="application/ld+json">
  [{
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "FreeFEM",
      "url": "https://freefem.org",
      "logo": "https://freefem.org/img/symbol_FreeFEM_97x97.png"
    },
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "HPCSE 2019 - Ostrava, Czech Republic",
      "description": "High Performance Computing in Science and Engineering",
      "image": "https://freefem.org/img/symbol_FreeFEM_97x97.png",
      "startDate": "2019-05-21T09:00",
      "endDate": "2019-05-23T18:30",
      "performer": {
        "@type": "Person",
        "name": "Frédéric Hecht"
      },
      "location": {
        "@type": "Place",
        "name": "Ostrava",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "",
          "addressLocality": "Ostrava",
          "postalCode": "",
          "addressCountry": "CZ"
        }
      }
    },
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "COUPLED 2019 - Sitges",
      "description": "Brain imaging with FreeFEM",
      "image": "https://freefem.org/img/symbol_FreeFEM_97x97.png",
      "startDate": "2019-06-03T09:00",
      "endDate": "2019-06-05T18:30",
      "performer": {
        "@type": "Person",
        "name": "Frédéric Hecht"
      },
      "location": {
        "@type": "Place",
        "name": "Sitges",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "",
          "addressLocality": "Sitges",
          "postalCode": "",
          "addressCountry": "ES"
        }
      }
    },
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "Rencontre Mathématiques de Rouen",
      "description": "Introduction to FreeFEM version 4 ",
      "image": "https://freefem.org/img/symbol_FreeFEM_97x97.png",
      "startDate": "2019-06-19T09:00",
      "endDate": "2019-06-21T18:30",
      "performer": {
        "@type": "Person",
        "name": "Frédéric Hecht"
      },
      "location": {
        "@type": "Place",
        "name": "Rouen University",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "",
          "addressLocality": "Rouen",
          "postalCode": "",
          "addressCountry": "FR"
        }
      }
    }
  ]
</script>
