<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <div id="ffdaysMain">
    <div id="ffdaysTitle">
      <img src="{{ site.url }}{{ site.baseurl }}/img/FreeFem_Days_Bleu.svg" alt="FreeFEM Days">
      <p>December 12, 13 & 14, 2019</p>
    </div>
    <div id="ffdaysDesc">
      <h2>An academic and industrial research conference</h2>
      <p>FreeFEM is now used as research tool or investigation software by a continuously increasing community gathering scientists from different areas of research (mathematics, physics, finance, healthcare, automotive, etc).</p>
      <p>Following the success of the previous workshops on FreeFEM, this new event is aimed to reflect the latest capabilities and applications of the software and to exchange information with other communities involved in the development of
        generic solvers for PDEs.</p>
      <p>The previous editions presentations are available on <a href="https://github.com/FreeFem/FreeFem-days">this repository</a>.</p>
    </div>
    <div id="ffdaysCal">
      <div class="days">
        <div class="day">
          <p>WEDNESDAY</p>
          <h2>12</h2>
          <p>DECEMBER</p>
          <p>
            <br>Morning : Room 25-15, 102
            <br>Afternoon : Beg. Class Room 23-24 , 103
            <br>Afternoon : Exp. Class Romm 15-16, 413
          </p>
        </div>
        <div class="program">
          <h2>Day 1</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">09.00 - 10.30<br> Room 25-15, 102</th>
                <td>
                  <strong>F. Hecht</strong> (LJLL, Sorbonne Université) :
                  <br>
                  Introduction to FreeFEM version 4, (<a href="https://www.ljll.math.upmc.fr/hecht/ftp/ff++days/2018/FH.zip"> zip of pdf and all examples </a>)
                </td>
              </tr>
              <tr>
                <th scope="row">10.30-10.50</th>
                <td>
                  <it>Coffee break </it> &emsp; Room 15-16 318
                </td>
              </tr>

              <tr>
                <th scope="row">10.50 - 12.00<br> Room 25-15, 102</th>
                <td>
                  <strong>S. Garnotel</strong> (<a href="https://www.airthium.com" target="_blank">Airthium</a>) :
                  <br>
                  FreeFEM project update : GitHub, new documentation, new website, the module repository, and a lot more (<a href="./slides/GARNOTEL_ffdays2018.pdf" target="_blank" download="">Slides</a>).
                </td>
              </tr>
              <tr>
                <th scope="row">12.30-14.00 </th>
                <td>
                  <it>Lunch </it> &emsp; Room 15-16 318
                </td>
              </tr>

              <tr>
                <th scope="row">14.00 - 18.00 <br> Room 23-24, 103</th>
                <td>
                  <strong>I. Danaila </strong> Beginner class.
                </td>
              </tr>
              <tr>
                <th scope="row">14.00 - 18.00 <br> Room 15-16, 413 </th>
                <td>
                  <strong>F. Hecht </strong>Expert class.
                  <a href="https://www.ljll.math.upmc.fr/hecht/ftp/ff++days/2018/tuto-expert1" target="_blank"> Directory</a>,
                  <a href="https://www.ljll.math.upmc.fr/hecht/ftp/ff++days/2018/tuto-expert1.zip" target="_blank"> zip </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="days">
        <div class="day">
          <p>THURSDAY</p>
          <h2>13</h2>
          <p>DECEMBER</p>
          <p>
            <br>Morning : Room 25-15, 102
            <br>Afternoon : Room 13-14, 101 (MMG)
          </p>
        </div>
        <div class="program">
          <h2>Day 2</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">09.00 - 09.05 <br> Room 25-15, 102 </th>
                <td>
                  <strong>F. Hecht</strong> (LJLL, Sorbonne Université) :
                  <br>
                  Introduction
                </td>
              </tr>
              <tr>
                <th scope="row">09.05-9.35<br> Room 25-15, 102</th>
                <td>
                  <strong>Atsushi Suzuki </strong>
                  <it> Cybermedia Center, Osaka University</it>: <br>
                  <a href="pdf/AS.pdf" target="_blank"> Dissection sparse direct solver for indefinite finite element matrices and application to a semi-conductor problem </a> (<a href="./slides/talk-AS.pdf" target="_blank" download="">Slides</a>)
                  <br>

                </td>
              </tr>
              <tr>
                <th scope="row">09.35-10.05<br> Room 25-15, 102</th>
                <td>
                  <strong>Pierre Jolivet </strong>
                  <it> IRIT–CNRS, Toulouse </it>: <br>
                  <a href="pdf/PJ.pdf" target="_blank"> High-Performance Radiative Transport Equation Solver </a>
                  (<a href="./slides/talk-PJ.pdf" target="_blank" download="">Slides</a>) <br>

                </td>
              </tr>
              <tr>
                <th scope="row">10.05-10.35<br> Room 25-15, 102</th>
                <td>
                  <strong>David Fabre </strong>
                  <it> Université de Toulouse - IMFT - UPS </it>: <br>
                  <a href="pdf/DF.pdf" target="_blank"> StabFem : a Matlab/Octave interface to FreeFem++ for flow instabilities and wave problems,
                    designed for research and education. </a>
                  (<a href="./slides/AD.zip" target="_blank" download="">zip of Slides</a>)
                  <br>
                </td>
              </tr>
              <tr>
                <th scope="row">10.35-10.55 </th>
                <td>
                  <it>Coffee break </it> &emsp; Room 15-16 318
                </td>
              </tr>
              <tr>
                <th scope="row">10.55-11.25<br> Room 25-15, 102</th>
                <td>
                  <strong> P-L. Rothé </strong>
                  <it> ENPC and Inria </it> (and C. Le Bris, F. Legoll): <br>
                  <a href="pdf/PLR.pdf" target="_blank"> Running computations with the Multi-scale Finite element approach (MsFEM) in FreeFem++ </a>,
                  (<a href="./slides/Rothe.pdf" target="_blank" download="">Slides</a>) <br>
                </td>
              </tr>


              <tr>
                <th scope="row">11.25-11.55<br> Room 25-15, 102</th>
                <td>
                  <strong> J. Moulin </strong>
                  <it> ONERA-DAAA </it> (and P. Jolivet and O. Marque): <br>
                  <a href="pdf/JM.pdf" target="_blank"> Augmented Lagrangian approach for large-scale linear stability analysis of incompressible flows and its extension to fluid-structure interaction </a>
                  (<a href="./slides/Moulin.pdf" target="_blank" download="">Slides</a>) <br>
                </td>
              </tr>

              <tr>
                <th scope="row">11.55-12.25<br> Room 25-15, 102</th>
                <td>
                  <strong> G. Sadaka</strong> (and P. Jolivet and F. Hecht):
                  <br>
                  <a href="pdf/GS.pdf" target="_blank"> FreeVol++: 2D Finite volume solver inside FreeFem++ </a>
                  (<a href="./slides/talk-GS.pdf" target="_blank" download="">Slides</a>) <br>
                </td>
              </tr>
              <tr>
                <th scope="row">12.30-14.00 </th>
                <td>
                  <it>Lunch </it> &emsp; Room 15-16 318
                </td>
              </tr>

              <tr>
                <th scope="row">14.00 - 18.00<br> Room 13-14, 101</th>
                <td>
                  <strong>P. Frey, C. Dapogny</strong> (LJLL, Sorbonne Université &amp; LJK, IMAG) :
                  <br>
                  <a href="https://www.mmgtools.org" target="_blank">MMG</a> remeshing tool presentation.
                  The <a href="https://www.mmgtools.org/mmg-simplicial-remesher/mmg-day-2018-subscription-form">MMG registration</a> is free but <u>mandatory</u>.
                  See the official <a href="https://www.mmgtools.org/third-edition-of-the-mmg-day">program</a> for more information.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="days">
        <div class="day">
          <p>FRIDAY</p>
          <h2>14</h2>
          <p>DECEMBER</p>
          <p>
            <br>Morning : Room 25-15, 102
            <br>Afternoon : Beg. Class Room 25-15, 102
            <br>Afternoon : Exp. Class 25-15, 104
          </p>
        </div>
        <div class="program">
          <h2>Day 3</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">9.00 - 9.40<br> Room 25-15, 102</th>
                <td>
                  <strong>A. Fourmont </strong> (INRIA, SED) :
                  <br>
                  new RT 3d element and Surface Finite Elements in FreeFem++.
                  (<a href="./slides/talk-AF.pdf" target="_blank" download="">Slides</a>)
                </td>
              </tr>

              <tr>
                <th scope="row">09.40 - 10.30<br> Room 25-15, 102</th>
                <td>
                  <strong>F. Hecht, A. Fourmont</strong> (LJLL, Sorbonne Université and INRIA, SED) :
                  <br>
                  FreeFEM++'s kernel presentation and classes for developers (part I).
                  (<a href="https://www.ljll.math.upmc.fr/hecht/ftp/ff++days/2018/Base-lg.zip"> zip of files to build a user language </a>)
                </td>
              </tr>
              <tr>
                <th scope="row">10.30-11.00 </th>
                <td>
                  <it>Coffee break </it> &emsp; Room 15-16 318
                </td>
              </tr>
              <tr>
                <th scope="row">11.00 - 12.30<br> Room 25-15, 102</th>
                <td>
                  <strong>F. Hecht, A. Fourmont</strong> (LJLL, Sorbonne Université and INRIA, SED) :
                  <br>
                  FreeFEM++'s kernel presentation and classes for developers (part II).
                </td>
              </tr>
              <tr>
                <th scope="row">12.30 - 12.45<br> Room 25-15, 102</th>
                <td>
                  <strong>O. Pironneau</strong> (LJLL, Sorbonne Université)
                  <br>
                  Type recognition of PDEs using Deep Learning. (<a href="./slides/talk-OP.pdf" target="_blank" download="">Slides</a>,
                  <a href="./slides/OP-codes.zip" target="_blank" download=""> zip archives of codes</a>,)
                </td>
              </tr>

              <tr>
                <th scope="row">12.45-14.00 </th>
                <td>
                  <it>Lunch </it> &emsp; Room 15-16 318
                </td>
              </tr>

              <tr>
                <th scope="row">14.00-15.00<br> Room 25-15, 102</th>
                <td>
                  <strong>F. Nataf </strong> and P-H. Tournier (LJLL, CNRS) :
                  <br>
                  Parallel freefem++ and new DDM user interface
                </td>
              </tr>
              <tr>
                <th scope="row">15.00-18.00<br> Room 25-15, 102</th>
                <td>
                  <strong> O. Pantz </strong> (Laboratoire J.A. Dieudonné, Université de Nice Sophia-Antipolis) :
                  <br>
                  Beginner class.
                </td>
              </tr>
              <tr>
                <th scope="row">14.00-18.00<br> Room 25-15, 104</th>
                <td>
                  <strong>F. Hecht</strong> (LJLL, Sorbonne Université) :
                  <a href="https://www.ljll.math.upmc.fr/hecht/ftp/ff++days/2018/tuto-expert2" target="_blank"> Directory</a>,
                  <a href="https://www.ljll.math.upmc.fr/hecht/ftp/ff++days/2018/tuto-expert2.zip" target="_blank"> zip </a>
                  <br>
                  Expert class.
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="ffdaysMap">

      <h2>Access &amp; Housing</h2>
      <p>The conference will be held at the <a target="_blank" href="https://www.ljll.math.upmc.fr/"><i>Laboratoire Jacques-Louis Lions</i></a>, 4 Place Jussieu, Paris, <i>Tour 15-25</i> at the 3<sup>th</sup> floor.</p>


      <p class="OSMap">
        <iframe id="OSMiframe" src="https://www.openstreetmap.org/export/embed.html?bbox=2.3438328411430125%2C48.842055593299726%2C2.3659342434257273%2C48.850881120609344&amp;layer=mapnik&amp;marker=48.846468551381356%2C2.3548835422843695">
        </iframe>
        <br>
        <small><a target="_blank" href="https://www.openstreetmap.org/?mlat=48.8465&amp;mlon=2.3549#map=16/48.8465/2.3549">Show a larger map</a></small>
      </p>

      <p><strong><i>Métro</i> and RER</strong> (<a target="_blank" href="https://www.vianavigo.com">Transport society</a>)</p>
      <p>
        Station <i>Jussieu</i> (lines 7 &amp; 10)<br> Station <i>Cluny - La Sorbonne</i> (RER B) within 700m<br> Station <i>Austerlitz</i> (lines 5, 10 and RER C) within 1000m
      </p>
      <p><strong>Bus</strong> (<a target="_blank" href="https://www.vianavigo.com">Transport society</a>)</p>
      <p>
        Line 24: station <i>Quai Saint-Bernard</i><br> Line 63: station <i>Rue des fossés Saint-Bernard</i> or <i>Quai Saint Bernard</i><br> Line 67: station <i>Jussieu</i><br> Line 89: station <i>Jussieu</i>, <i>Cardinal Lemoine</i> or <i>Quai Saint
          Bernard</i>
      </p>
      <p><strong>Housing</strong></p>
      <p>
        We recommend you to book your hotel room as soon as possible. Here are a few addresses for your information:
      </p>
      <ul>
        <li>
          <a target="_blank" href="https://www.hotel-saint-marcel-paris.com/en/">Hôtel Saint Marcel</a>:<br>
          43 boulevard Saint Marcel, 75013 Paris<br>
          +33 (0)1 47 07 43 17<br>
          <a href="mailto:reservation@hotel-saint-marcel-paris.com">reservation@hotel-saint-marcel-paris.com</a>
        </li>
        <li>
          <a target="_blank" href="https://hotel-saint-christophe.eu/fr/">Hôtel Saint Christophe:</a><br>
          17 Rue Lacépède, 5th arr., 75005 Paris<br>
          +33 (0)1 43 31 81 54<br>
          <a href="mailto:contact@saintchristopheparis.com">contact@saintchristopheparis.com</a>
        </li>
      </ul>

    </div>
  </div>

  {% include footer.html %}
</body>

</html>
