<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <div id="ffdaysMain">
    <div id="ffdaysTitle">
      <img src="{{ site.url }}{{ site.baseurl }}/img/FreeFEM_days_13th_edition_blue.svg" alt="FreeFEM Days 13th edition">
      <p>December 10,11, 2020</p>
    </div>
<div id="ffdaysDesc"> <a href="https://freefem.wufoo.com/forms/m13knxgi11axx29/"> the online form</a>

<!--	
or  ne marche pas .... F. Hecht bouton soumettre est cache !!!!
--> 
</div> 


<div id="wufoo-m13knxgi11axx29"> Fill out my <a href="https://freefem.wufoo.com/forms/m13knxgi11axx29">online form</a>. </div>
 <script type="text/javascript"> var m13knxgi11axx29; (function(d, t) { var s = d.createElement(t), options = { 'userName':'freefem', 'formHash':'m13knxgi11axx29', 'autoResize':true, 'height':'1050', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { m13knxgi11axx29 = new WufooForm(); m13knxgi11axx29.initialize(options); m13knxgi11axx29.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
  {% include footer.html %}

</body>

</html>
