<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <div id="ffdaysMain">
    <div id="ffdaysTitle">
      <img src="{{ site.url }}{{ site.baseurl }}/img/FreeFEM_days_13th_edition_blue.svg" alt="FreeFEM Days">
      <p>December 8, 9 & 10, 2021</p>
	  <p> <a href="https://github.com/FreeFem/FreeFem-days/blob/master/README.md"> Previous  FreeFem days </a>
    </div>

    <div id="ffdaysDesc">
      <h2>An academic and industrial research hybrid conference (in Place or in Zoom) </h2>
      <p>FreeFEM is now used as research tool or investigation software by a continuously increasing community gathering scientists from different areas of research (mathematics, physics, finance, healthcare, automotive, etc).</p>
      <p>Following the success of the previous workshops on FreeFEM, this new event is aimed to reflect the latest capabilities and applications of the software and to exchange information with other communities involved in the development of
        generic solvers for PDEs.</p>
      <p><i class="fas fa-info-circle"></i> The previous editions presentations are available on <a href="https://github.com/FreeFem/FreeFem-days">this repository</a>. <i class="fas fa-info-circle"></i></p>
 <!-->     <div id="download">
	      <a href="./ffdays-registration-close" target="_blank">Registation is close  now</a></div> --> 
              <div id="download"><a href="javascript:void(0)">Registrations are closed</a></div>
	      
    </div>
    <div id="ffdaysCal">
      <div class="days">
        <div class="programTBA">
          <h2>Retrieve videos on <a href="https://www.youtube.com/channel/UCJlw6LHQt7UWXrH2uzGYZWw">FreeFEM channel</a></h2>
        </div>
      </div>
    </div>
    <div id="ffdaysCal">
      <div class="days">
        <div class="day">
          <p>WEDNESDAY</p>
          <h2>8</h2>
          <p>DECEMBER</p>
          <p>
	     <br> Mmg Afternoon
             <br> Room 15-25 104 
            <br>See the <i><a href="https://www.mmgtools.org/mmg-day-2021/">for the mmg site and inscription</a></i>
          </p>
        </div>
        <div class="program">
          <h2>Mmg Day </h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">14.00 - 18h00<br> </th>
                <td>
                  <strong> see the mmg site </strong> :
                  <br>
                  <a href="https://www.mmgtools.org/mmg-day-2021/">Mmg Day </a> - Schedule
                </td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
      <div class="days">
        <div class="day">
          <p> THURSDAY</p>
          <h2>9</h2>
          <p>DECEMBER</p>
          <p>
            <br>Morning : <br> Room 15-16 309
	    <br> Lunch : <br> Room 15-16 309
            <br> Afternoon :<br> Room  15-16 309 (Presentation)
            <br>Afternoon :<br> Room 15-16 309 (expert tuto)
            <br>Afternoon :<br> Room 15-25 104 (basic tuto)
          </p>
        </div>
        <div class="program">
          <h2>1st FreeFEM Day 2021</h2>
		  <h3>Morning session    Room Room 15-16 309</h2>
	  
		
          <table class="table table-striped">
            <tbody>
              <tr>
				 <th scope="row">09h.00 - 10h.30<br> </th>
                <td>
                  <strong>F. Hecht</strong> (LJLL, Sorbonne Université) :
                  <br>
                  FreeFEM and news (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-FH.pdf"> The presentation </a> and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/FH-edp.zip"> the zip file of all edp files</a>)
                </td>
              </tr>
              <tr>
				 <th scope="row">10h.30 - 10h.50<br> </th>
                <td>
                  <strong>Coffe break</strong>
                  <br>
                </td>
              </tr>

              <tr>
				 <th scope="row">10h.50 - 12h.10 <br> </th>
                <td>
                   <strong>X Claeys<sup>1</sup>, P-H Tournier<sup>2</sup></strong> (LJLL, Sorbonne<sup>1</sup>,CNRS<sup>2</sup> ) :
                  <br>
                     BEM in FreeFEM with BemTool, Htool (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-PHT.pdf"> The abstract (pdf) </a> and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-PHT.pdf"> The slides (pdf) </a>)
                </td>

              </tr>

              <tr>
				 <th scope="row">12h.10 - 13h.30<br> </th>
                <td>
                  <strong>Lunch break</strong>
                  <br>

                </td>
		<h3>Afternoon session    Room Room 15-16 309 (and expert sessions)</h2>
		
              </tr>
              <tr>
				 <th scope="row">13h.20 - 14h.00<br> </th>
                <td>
                  <strong> P. Jolivet </strong> ( (IRIT / CNRS) :
                  <br>
                   the new developments made this year with respect to the FreeFEM and PETSc/SLEPc/HPDDM interfaces. (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-PJ.pdf">The abstract</a> and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-PJ.pdf"> The slides (pdf) </a>)
                </td>
		</tr>
              <tr>
				 <th scope="row">14h.00 - 14h.30<br> </th>
                <td>
                  <strong> F. Nataf </strong> ( (LJLL/  CNRS) :
                  <br>
                    TBA  ... (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-FN.pdf">The abstract</a> and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-FN.pdf"> The slides (pdf) </a>)
                </td>
		</tr>

 <h3>Tutorial  session   </h3>
 
          <table class="table table-striped">
            <tbody>
              <tr>
				 <th scope="row">14h.30 - 18h<br> Room 15-16 309</th>
				 <h3>Afternoon session    Room Room 15-16 309 (and expert sessions)</h2>
				 
                <td>
                  <strong>P. Jolivet<sup>2</sup>, P-H Tournier<sup>1</sup></strong> (LJLL<sup>1</sup>, IRIT<sup>2</sup>,  CNRS) :
                  <br>
                  Expert Tutorial: Parallel tools
                </td>
              </tr>
              <tr>
				 <th scope="row">14h.30 - 18h<br> Room 15-25 104 </th>
                <td>
                  <strong>F. Hecht<sup></sup> </strong> (LJLL, Alpines, Sorbonne Université<sup></sup>) :
		 <br> <a href="https://www.ljll.math.upmc.fr/hecht/ftp/ff++days/2021/tuto/"> the Tutorial  examples  (pdf) </a>
		  
                  <br>
                  Basics Tutorial
                </td>
              </tr>
	            </tbody>
	          </table>
        </div>
      </div>
      <div class="days">
        <div class="day">
          <p>FRIDAY</p>
          <h2>10</h2>
          <p>DECEMBER</p>
          <p>
            <br> Morning : <br> Room 15-16 309
	    <br> Lunch : <br> Room 15-16 309
	    <br> Seminar : <br> Room 15-16 309
            <br> Afternoon :<br> Room  15-16 309 (expert tuto)
            <br> Afternoon :<br> Room  15-25 104 (basic tuto)
          </p>
        </div>
        <div class="program">
          <h2>second FreeFEM Day 2021</h2>
		  <h3>Morning session   Room 15-16 309</h2>

          <table class="table table-striped">
            <tbody>
              <tr>
				 <th scope="row">09h.00 - 09h.20<br> </th>
                <td>
                  <strong>Houssam Houssein,  </strong> (LJLL/Airthium France) : <br>
                A symmetric algorithm for solving frictional contact problems using FreeFEM  
		   (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-HH.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-HH.pdf"> The slides (pdf) </a>)
                </td>
              </tr>

              <tr>
				 <th scope="row">09h.20 - 09h.45<br> </th>
                <td>
                  <strong>Atsushi Suzuki,  </strong> (Cybermedia Center, Osaka University, Japan) : <br>
                Shape optimization for a heat exchanger in Navier-Stokes flow with dynamic pressure at the outlet 
		   (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-AS.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-HH.pdf"> The slides (pdf) </a>)
                </td>
              </tr>

              <tr>
				 <th scope="row">09h.40 - 10h.10<br> </th>
                <td>
                  <strong>Olivier Pironneau  </strong> (LJLL/Sorbonne-Universite, France) : <br>
                How the sun heat th Leman lac
		   (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-OP.pdf">Abstract</a>  
		   and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-OP.pdf"> The slides (pdf) </a>)
                </td>
              </tr>
	      

              <tr>
				 <th scope="row">10h.10 - 10.40<br> </th>
                <td>
                  <strong>Coffe break</strong>
                  <br>
                </td>
              </tr>


              <tr>
				 <th scope="row">10h.40 - 11h.05<br> </th>
                <td>
                  <strong>Mojtaba Barzegari,  </strong> (Biomechanics Section, Department of Mechanical Engineering, KU Leuven, Leuven, Belgium) : <br>
                BioDeg: corrosion/biodegradation simulation software for metallic biomaterials based on FreeFEM/PETSc/Qt
		   (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-MB.pdf">Abstract</a>   and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-MB.pdf"> The slides (pdf) </a>)
                </td>
              </tr>


              <tr>
				 <th scope="row">11h.05 - 11h.30<br> </th>
                <td>
                  <strong>María González Taboada,  </strong> (Facultad de Informática, Campus de Elviña, Spain) : <br>
               A posteriori error analysis of an enriched Galerkin method for the Stokes problem 
		   (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021//pdf/A-MGT.pdf">Abstract</a>
		    and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-MGT.pdf"> The slides (pdf) </a>)
                </td>
              </tr>

              <tr>
				 <th scope="row">11h.30 - 11h.55<br> </th>
                <td>
                  <strong>Pascal Ventura,  </strong> (LEM3,Université de Lorraine, France) : <br>
               Convergence acceleration of the asymptotic numerical method : application to the non linear mechanical analysis of film/substrate systems using FreeFem++
		   (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-PV.pdf">Abstract</a>
		    and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-PV.pdf"> The slides (pdf) </a>)
                </td>
              </tr>

              <tr>
				 <th scope="row">11h.55 - 12h.20<br> </th>
                <td>
                  <strong>Hao Li, ,  </strong> ( Kyoto University, Japan) : <br>
               Topology optimization of a thermo-fluid system and an eigenfrequency problem.
		   (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-HL.pdf">Abstract</a>
		    and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-HL.pdf"> The slides (pdf) </a>)
                </td>
              </tr>

	      


              <tr>
				 <th scope="row">12h.20 - 14h.00<br> </th>
                <td>
                  <strong>Lunch</strong>
                  <br>
                </td>
              </tr>
	      
		  <h3>Afternoon  session (seminar)   Room 15-16 309</h2>
	      
              <tr>
				 <th scope="row">14h.00 - 15h.00<br> </th>
                <td>
                  <strong> Jean-Marie Mirebeau (Université Paris Saclay) LJLL Seminar </strong> 
                  <br>
		  Une librairie pour la conception de schémas aux différences finies adaptatifs et monotones  
                     (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/A-JMM.pdf" > Abstract</a>
		      and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2021/pdf/talk-JMM.pdf"> The slides (pdf) </a>)
		     
 		     
                </td>

	            </tbody>
	          </table>

		  <h3>Tutorial  session   </h3>
          <table class="table table-striped">
            <tbody>
              <tr>
				 <th scope="row">15h.15 - 18h<br> Room 16-15 309</th>
				 		
				 
                <td>
                  <strong>P. Jolivet<sup>2</sup>, P-H Tournier<sup>1</sup></strong> (LJLL<sup>1</sup>, IRIT<sup>2</sup>,  CNRS) :
                  <br>
                  Expert Tutorial: Parallel tools II
                </td>
              </tr>
              <tr>
				 <th scope="row">15h.15 - 18h<br> Room 15-25 104 </th>
                <td>
                  <strong>F. Hecht<sup>1</sup> </strong> (LJLL, Alpines, Sorbonne Université<sup>1</sup>) :
                  <br>
                  Basics Tutorial II
				                   
		  
                </td>
              </tr>
	            </tbody>
	          </table>
        </div>
      </div>
    </div>


    <div id="ffdaysMap">

      <h1>Sponsors :</h1>
      <div>
        <a href="http://www.sorbonne-universite.fr/" target="_blank"><img alt="Sorbonne université" src="{{ site.url }}{{ site.baseurl }}/img/logo_Sorbonne.svg" width="20%" /></a>
        <a href="https://www.inria.fr/" target="_blank"><img alt="INRIA" src="{{ site.url }}{{ site.baseurl }}/img/logo_INRIA_EN.svg" width="20%"/></a>
        <a href="http://www.cnrs.fr/" target="_blank"><img alt="CNRS" src="{{ site.url }}{{ site.baseurl }}/img/logo_CNRS.svg" width="10%" /></a>
        <a href="https://www.ljll.math.upmc.fr/" target="_blank"><img alt="Genci" src="{{ site.url }}{{ site.baseurl }}/img/logo_ljll.jpg" width="10%"/></a>
      </div>
</div>
   <div id="ffdaysMap">
      <h2>Access &amp; Housing</h2>
      <p>The conference will be held at the <a target="_blank" href="https://www.ljll.math.upmc.fr/"><i>Laboratoire Jacques-Louis Lions</i></a>, 4 Place Jussieu, Paris, <i>Tour 15-25</i> at the 3<sup>th</sup> floor.</p>


      <p class="OSMap">
        <iframe id="OSMiframe" src="https://www.openstreetmap.org/export/embed.html?bbox=2.3438328411430125%2C48.842055593299726%2C2.3659342434257273%2C48.850881120609344&amp;layer=mapnik&amp;marker=48.846468551381356%2C2.3548835422843695">
        </iframe>
        <br>
        <small><a target="_blank" href="https://www.openstreetmap.org/?mlat=48.8465&amp;mlon=2.3549#map=16/48.8465/2.3549">Show a larger map</a></small>
      </p>

      <p><strong><i>Métro</i> and RER</strong> (<a target="_blank" href="https://www.vianavigo.com">Transport society</a>)</p>
      <p>
        Station <i>Jussieu</i> (lines 7 &amp; 10)<br> Station <i>Cluny - La Sorbonne</i> (RER B) within 700m<br> Station <i>Austerlitz</i> (lines 5, 10 and RER C) within 1000m
      </p>
      <p><strong>Bus</strong> (<a target="_blank" href="https://www.vianavigo.com">Transport society</a>)</p>
      <p>
        Line 24: station <i>Quai Saint-Bernard</i><br> Line 63: station <i>Rue des fossés Saint-Bernard</i> or <i>Quai Saint Bernard</i><br> Line 67: station <i>Jussieu</i><br> Line 89: station <i>Jussieu</i>, <i>Cardinal Lemoine</i> or <i>Quai Saint
          Bernard</i>
      </p>
      <p><strong>Housing</strong></p>
      <p>
        We recommend you to book your hotel room as soon as possible. Here are a few addresses for your information:
      </p>
      <ul>
        <li>
          <a target="_blank" href="https://www.hotel-saint-marcel-paris.com/en/">Hôtel Saint Marcel</a>:<br>
          43 boulevard Saint Marcel, 75013 Paris<br>
          +33 (0)1 47 07 43 17<br>
          <a href="mailto:reservation@hotel-saint-marcel-paris.com">reservation@hotel-saint-marcel-paris.com</a>
        </li>
        <li>
          <a target="_blank" href="https://hotel-saint-christophe.eu/fr/">Hôtel Saint Christophe:</a><br>
          17 Rue Lacépède, 5th arr., 75005 Paris<br>
          +33 (0)1 43 31 81 54<br>
          <a href="mailto:contact@saintchristopheparis.com">contact@saintchristopheparis.com</a>
        </li>
      </ul>

    </div>
  </div>

  {% include footer.html %}
</body>

</html>
