<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <div id="ffdaysMain">
    <div id="ffdaysTitle">
      <img src="{{ site.url }}{{ site.baseurl }}/img/FreeFEM_days_12th_edition_blue.svg" alt="FreeFEM Days">
      <p>December 10,11, 2020</p>
    </div>

    <div id="wufoo-q15ldzvd1cljhow" class="ffdays-form">
    Fill out my <a href="https://freefem.wufoo.com/forms/q15ldzvd1cljhow">online form</a>.
    </div>
    <script type="text/javascript">var m13knxgi11axx29;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'freefem',
    'formHash':'q15ldzvd1cljhow',
    'autoResize':true,
    'height':'975',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { q15ldzvd1cljhow = new WufooForm();q15ldzvd1cljhow.initialize(options);q15ldzvd1cljhow.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');
    </script>

  </div>

  {% include footer.html %}
</body>

</html>
