<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <div id="ffdaysMain">
    <div id="ffdaysTitle">
      <img src="{{ site.url }}{{ site.baseurl }}/img/FreeFEM_days_14th_edition_blue.svg" alt="FreeFEM Days">
      <p>December 8 & 9, 2022 (under construction) <span style="font-size: 10px;">version 6</span></p>
	  <p> <a href="https://github.com/FreeFem/FreeFem-days/blob/master/README.md"> Previous  FreeFem days </a>
    </div>

    <div id="ffdaysDesc">
      <h2>An academic and industrial research hybrid conference (in Place or in Zoom) </h2>
      <p>It is now open via the page.</p>
      <p>FreeFEM is now used as research tool or investigation software by a continuously increasing community gathering scientists from different areas of research (mathematics, physics, finance, healthcare, automotive, etc).</p>
      <p>Following the success of the previous workshops on FreeFEM, this new event is aimed to reflect the latest capabilities and applications of the software and to exchange information with other communities involved in the development of
        generic solvers for PDEs.</p>
      <p><i class="fas fa-info-circle"></i> The previous editions presentations are available on <a href="https://github.com/FreeFem/FreeFem-days">this repository</a>. <i class="fas fa-info-circle"></i></p>
             The Lunch are offered, and the  Registration is free but mandatory. 
	       <div id="download"><a href="https://fhecht.wufoo.com/forms/q12hohvn0rlbvx8/" target="_blank">Register now</a></div> 
      <p>   <a href=" https://fhecht.wufoo.com/reports/14freefemdays"> The list of participants </a>.
    </div>
    
    <div id="ffdaysCal">
      <div class="days">
        <div class="programTBA">
          <h2>Retrieve videos on <a href="https://www.youtube.com/channel/UCJlw6LHQt7UWXrH2uzGYZWw">FreeFEM channel</a></h2>
        </div>
      </div>
    </div>
    
    <div id="ffdaysCal">

      <div class="days">
        <div class="day">
          <p> THURSDAY</p>
          <h2>8</h2>
          <p>DECEMBER</p>
            <!--          <p>
            <br>Morning : <br> Room 15-16 309
	          <br> Lunch : <br> Room 15-16 309
            <br> Afternoon :<br> Room  15-16 309 (Presentation)
            <br>Afternoon :<br> Room 15-16 309 (expert tuto)
            <br>Afternoon :<br> Room TBA (basic tuto) 
            </p> -->
        </div>
        <div class="program">
		  
	        <p> <b> Morning presentation session  </p>
	  
		
          <table class="table table-striped">
            <tbody>
              <tr>
				        <th scope="row">09:00 - 10:30<br> Room 15-16 309</th>
                <td>
                  <strong>F. Hecht</strong> (LJLL, Sorbonne Université) :
                  <br>
                  FreeFEM and news (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The presentation </a> and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/FH-edp.zip"> the zip file of all edp files</a>)
                </td>
              </tr>
              <tr>
				        <th scope="row">10:30 - 10:50<br> Room 15-16 309</th>
                <td>
                  <strong>Coffe break</strong>
                  <br>
                </td>
              </tr>

              <tr>
				        <th scope="row">10:50 - 12:10 <br> Room 15-16 309</th>
                <td>
                   <strong> J. Morice<sup>1,3</sup> and P-H Tournier<sup>1,2</sup></strong> (LJLL <sup>1</sup>,CNRS<sup>2</sup>, INRIA<sup>3</sup> ) :
                  <br>
                    TBA (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The abstract (pdf) </a> ,  The slides
		                of  <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">  P.T.  Tournier (pdf) </a>)
		                and of   <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> J. Morice (pdf) </a>)
                </td>

              </tr>

              <tr>
				        <th scope="row">12:10 - 13:30<br> Room 15-16 309</th>
                <td>
                  <strong>Lunch break</strong>
                  <br>

                </td>
		          </tr>
            </tbody>
          </table>
		     <p>Afternoon  presentation session in    Room15-16 309 </p>
         <table class="table table-striped">
          <tbody>
              <tr>
				      <th scope="row">13:20 - 14:30<br> Room 15-16 309</th>
                <td>
                  <strong> P. Jolivet </strong> ( (IRIT / CNRS) :
                  <br>
                   TBA (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">The abstract</a> and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
                </td>
		          </tr>
              <tr>
				       <th scope="row">14:30 - 15:00<br> Room 15-16 309</th>
                <td>
                  <strong> TBA </strong>  :
                  <br>
                    TBA  ... (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">The abstract</a> and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
                </td>
		         </tr>
            </tbody>
          </table>

         <h3>Tutorial  session   </h3>

          <table class="table table-striped">
            <tbody>
              <tr>
				       <th scope="row">15:00 - 18h<br> Room 15-16 309</th>				 
                <td>
                  <strong>P. Jolivet<sup>2</sup>, P-H Tournier<sup>1</sup></strong> (LJLL<sup>1</sup>, IRIT<sup>2</sup>,  CNRS) :
                  <br>
                  Expert Tutorial: Parallel tools
                </td>
              </tr>
              <tr>
				        <th scope="row">15:00 - 18h<br> room TBA </th>
                <td>
                  <strong>F. Hecht<sup>1,2</sup>, O. Pironneau <sup>1</sup> </strong> (LJLL <sup>1</sup>, Alpines <sup>2</sup>,, Sorbonne Université<sup></sup>) :
		               <br> <a href="https://www.ljll.math.upmc.fr/hecht/ftp/ff++days/2022/tuto/"> the Tutorial  examples  (pdf) </a>
                   <br>
                  Basics Tutorial
                </td>
              </tr>
	          </tbody>
	        </table>
        </div>
      </div>
      </div>div>
      <div id="ffdaysCal">
      <div class="days">
        <div class="day">
          <p>FRIDAY</p>
          <h2>9</h2>
          <p>DECEMBER</p>
           <!--- <p>
            <br> Morning : <br> Room 15-16 309
	         <br> Lunch : <br> Room 15-16 309
	         <br> Seminar : <br> Room 15-16 309
            <br> Afternoon :<br> Room  15-16 309 (expert tuto)
            <br> Afternoon :<br> Room  TBA (basic tuto)
          </p> -->
        </div>
        <div class="program">
          <h3>Morning presentation session </h3>

          <table class="table table-striped">
            <tbody>
              <tr>
				        <th scope="row">09:00 - 09:20<br> Room 15-16 309</th>
                <td>
                  <strong>TBA,  </strong> (TBA) : <br>
                  TBA 
		                (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
                </td>
              </tr>
              <tr>
				        <th scope="row">09:20 - 09:45<br> Room 15-16 309</th>
                <td>
                  <strong>TBA,  </strong> (TBA) : <br>
                   TBA 
                   (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
                </td>
              </tr>

              <tr>
				        <th scope="row">09:40 - 10:10<br> Room 15-16 309</th>
                <td>
                  <strong>TBA,  </strong> (TBA) : <br>
                  TBA 
		              (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
                </td>
              </tr>
	      

              <tr>
				        <th scope="row">10:10 - 10:40<br> Room 15-16 309</th>
                <td>
                  <strong>Coffe break</strong>
                  <br>
                </td>
              </tr>


              <tr>
				        <th scope="row">10:40 - 11:05<br> Room 15-16 309</th>
                <td>
                  <strong>TBA,  </strong> (TBA) : <br>
                    TBA 
		                  (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
                </td>
              </tr>


              <tr>
				        <th scope="row">11:05 - 11:30<br> Room 15-16 309</th>
                <td>
                  <strong>TBA,  </strong> (TBA) : <br>
                  TBA 
		                (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
                </td>
              </tr>

              <tr>
				        <th scope="row">11:30 - 11:55<br> Room 15-16 309</th>
                <td>
                  <strong>TBA,  </strong> (TBA) : <br>
                TBA 
		              (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
                </td>
              </tr>

              <tr>
				        <th scope="row">11:55 - 12:20<br> Room 15-16 309</th>
                <td>
                  <strong>TBA,  </strong> (TBA) : <br>
                    TBA 
		                (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
                </td>
              </tr>
              <tr>
				        <th scope="row">12:20 - 14:00<br> Room 15-16 309</th>
                <td>
                  <strong>Lunch</strong>
                  <br>
                </td>
              </tr>
            </tbody>      
          </table>
		    <h3>Afternoon  session (seminar)   Room 15-16 309</h2>
        <table class="table table-striped">
          <tbody>      
            <tr>
				     <th scope="row">14:00 - 15:00<br> Room 15-16 309</th>
             <td>
                  <strong> TBA  LJLL Seminar </strong> 
                  <br>
               TBA 
		          (<a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf">Abstract</a>  and <a href="https://github.com/FreeFem/FreeFem-days/raw/master/2022/pdf/TBA.pdf"> The slides (pdf) </a>)
		     
 		     
             </td>
            </tr>
	        </tbody>
	      </table>

		    <h3>Tutorial  session   </h3>
        <table class="table table-striped">
          <tbody>
            <tr>
				     <th scope="row">15:15 - 18h<br> Room 16-15 309</th>
				 		
				 
              <td>
                  <strong>P. Jolivet<sup>2</sup>, P-H Tournier<sup>1</sup></strong> (LJLL<sup>1</sup>, IRIT<sup>2</sup>,  CNRS) :
                  <br>
                  Expert Tutorial: Parallel tools II
              </td>
            </tr>
            <tr>
				      <th scope="row">15:15 - 18h<br> Room TBA </th>
              <td>
                  <strong>F. Hecht<sup>1</sup> </strong> (LJLL, Alpines, Sorbonne Université<sup>1</sup>) :
                  <br>
                  Basics Tutorial II
				                   
		  
              </td>
            </tr>
	        </tbody>
	      </table>
      </div>
    </div>




    <div id="ffdaysMap">

      <h1>Sponsors :</h1>
      <div>
        <a href="http://www.sorbonne-universite.fr/" target="_blank"><img alt="Sorbonne université" src="{{ site.url }}{{ site.baseurl }}/img/logo_Sorbonne.svg" width="20%" /></a>
        <a href="https://www.inria.fr/" target="_blank"><img alt="INRIA" src="{{ site.url }}{{ site.baseurl }}/img/logo_INRIA_EN.svg" width="20%"/></a>
        <a href="http://www.cnrs.fr/" target="_blank"><img alt="CNRS" src="{{ site.url }}{{ site.baseurl }}/img/logo_CNRS.svg" width="10%" /></a>
        <a href="https://www.ljll.math.upmc.fr/" target="_blank"><img alt="Genci" src="{{ site.url }}{{ site.baseurl }}/img/logo_ljll.jpg" width="10%"/></a>
      </div>
    </div>
    <div id="ffdaysMap">
      <h2>Access &amp; Housing</h2>
      <p>The conference will be held at the <a target="_blank" href="https://www.ljll.math.upmc.fr/"><i>Laboratoire Jacques-Louis Lions</i></a>, 4 Place Jussieu, Paris, <i>Tour 15-25</i> at the 3<sup>th</sup> floor.</p>


      <p class="OSMap">
        <iframe id="OSMiframe" src="https://www.openstreetmap.org/export/embed.html?bbox=2.3438328411430125%2C48.842055593299726%2C2.3659342434257273%2C48.850881120609344&amp;layer=mapnik&amp;marker=48.846468551381356%2C2.3548835422843695">
        </iframe>
        <br>
        <small><a target="_blank" href="https://www.openstreetmap.org/?mlat=48.8465&amp;mlon=2.3549#map=16/48.8465/2.3549">Show a larger map</a></small>
      </p>

      <p><strong><i>Métro</i> and RER</strong> (<a target="_blank" href="https://www.vianavigo.com">Transport society</a>)</p>
      <p>
        Station <i>Jussieu</i> (lines 7 &amp; 10)<br> Station <i>Cluny - La Sorbonne</i> (RER B) within 700m<br> Station <i>Austerlitz</i> (lines 5, 10 and RER C) within 1000m
      </p>
      <p><strong>Bus</strong> (<a target="_blank" href="https://www.vianavigo.com">Transport society</a>)</p>
      <p>
        Line 24: station <i>Quai Saint-Bernard</i><br> Line 63: station <i>Rue des fossés Saint-Bernard</i> or <i>Quai Saint Bernard</i><br> Line 67: station <i>Jussieu</i><br> Line 89: station <i>Jussieu</i>, <i>Cardinal Lemoine</i> or <i>Quai Saint
          Bernard</i>
      </p>
      <p><strong>Housing</strong></p>
      <p>
        We recommend you to book your hotel room as soon as possible. Here are a few addresses for your information:
      </p>
      <ul>
        <li>
          <a target="_blank" href="https://www.hotel-saint-marcel-paris.com/en/">Hôtel Saint Marcel</a>:<br>
          43 boulevard Saint Marcel, 75013 Paris<br>
          +33 (0)1 47 07 43 17<br>
          <a href="mailto:reservation@hotel-saint-marcel-paris.com">reservation@hotel-saint-marcel-paris.com</a>
        </li>
        <li>
          <a target="_blank" href="https://hotel-saint-christophe.eu/fr/">Hôtel Saint Christophe:</a><br>
          17 Rue Lacépède, 5th arr., 75005 Paris<br>
          +33 (0)1 43 31 81 54<br>
          <a href="mailto:contact@saintchristopheparis.com">contact@saintchristopheparis.com</a>
        </li>
      </ul>

    </div>
  </div>

  {% include footer.html %}
</body>

</html>
