<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <div id="ffdaysMain">
    <div id="ffdaysTitle">
      <img src="{{ site.url }}{{ site.baseurl }}/img/FreeFEM_days_16th_edition_blue.svg" alt="FreeFEM Days 16th edition">
      <p>December 10,11, 2020</p>
    </div>
<div id="ffdaysDesc"> <a href="https://fhecht.wufoo.com/forms/s8eukca09k7lz3/"> the online form</a>

	
or  ne marche pas .... F. Hecht bouton soumettre est cache !!!!
</div> 


<div id="wufoo-s8eukca09k7lz3"> Fill out my <a href="https://fhecht.wufoo.com/forms/s8eukca09k7lz3">online form</a>. </div> <script type="text/javascript"> var s8eukca09k7lz3; (function(d, t) { var s = d.createElement(t), options = { 'userName':'fhecht', 'formHash':'s8eukca09k7lz3', 'autoResize':true, 'height':'1063', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { s8eukca09k7lz3 = new WufooForm(); s8eukca09k7lz3.initialize(options); s8eukca09k7lz3.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
{% include footer.html %}

</body>

</html>
